<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">SysBuilder</a>
    </div>

    <ul class="nav navbar-nav navbar-left" id="navbar-links">
      <li><a href="#" data-remote="true">Explore</a></li>
      <li class="<%= 'active' if controller_name == 'manifests' and action_name == 'build' %>">
        <a href="#" data-remote="true">Build</a>
      </li>
      <li><a href="#" data-remote="true">Launch</a></li>
    </ul>
  </div>
</div>
