<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">SysBuilder</a>
    </div>
    <ul class="nav navbar-form navbar-right">
      <li>
        <button class="btn btn-primary" id="generate-build-summary-json">Summary (JSON)</button>
      </li>
    </ul>
  </div>
</div>
