<div class="component-container blank three-way <%= offset if defined?(offset) %> <%= border_class if defined?(border_class) %>">
  <div class="component-container blank top    three-way-grid"></div>
  <div class="component-container blank middle three-way-grid"></div>
  <div class="component-container blank bottom three-way-grid"></div>
</div>
