---
:aws:
  :access_key:        "<AWS_ACCESS_KEY>"
  :secret_key:        "<AWS_SECRET_KEY>"
  :default_region:    "<AWS_DEFAULT_REGION>"
  :default_ami:       "<AWS_DEFAULT_AMI>"
  :ssh_username:      "<SSH_LOGIN_USERNAME>"
  :ssh_key_name:      "<SSH_KEY_NAME>"
  :ssh_priv_key_path: "<SSH_PRIV_KEY_PATH>"
