.manifest-listing-container {
  display: inline-block;
  width:   100%;

  .manifest-listing-heading {
    margin-left: 100px;

    p {
      font-size: 16px;
    }
  }

  #manifest-listing {
    font-size:   16px;
    margin-left: 100px;

    a {
      font-style: italic;
    }

    table#manifest-list {
      margin-left: 0px;

      tbody {
        tr {
          td.manifest-name {
            a {
              color:      #000;
              font-style: normal;
            }

            a:hover {
              text-decoration: none;
            }
          }
        }

        tr:hover {
          cursor: pointer;
        }
      }
    }
  }
}
