header {
  position: relative;

  #flash-box {
    left:        50%;
    margin-left: -390px;
    position:    absolute;
    text-align:  center;
    top:         -16px;
    width:       800px;
    z-index:     10000;
  }
}
