#modal {
  .modal-body {
    pre {
      cursor:     text;
      max-height: 400px;
      overflow-y: scroll;
    }

    span.provider-info-name {
      font-style:  italic;
      font-weight: bold;
    }

    table.provider-info-table {
      margin-top: 25px;
    }
  }
}
